<td>
  <img src="https://news.ycombinator.com/s.gif" height="10" width="0">
  <table width="100%" cellspacing="0" cellpadding="1">
    <tbody>
      <tr>
        <td bgcolor="#ff6600"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <center>
    <span class="yclinks">
      <a href="newsguidelines.html">Guidelines</a> |
      <a href="newsfaq.html">FAQ</a> |
      <a href="mailto:hn@ycombinator.com">Support</a> |
      <a href="lists">Lists</a> |
      <a href="bookmarklet.html">Bookmarklet</a> |
      <a href="dmca.html">DMCA</a> |
      <a href="http://www.ycombinator.com/">Y Combinator</a> |
      <a href="http://www.ycombinator.com/apply/">Apply</a> |
      <a href="http://www.ycombinator.com/contact/">Contact</a>
    </span>
    <br>
    <br>
    <form method="get" action="//hn.algolia.com/">Search:
      <input ng-model="query" type="text" name="q" value="" size="17">
    </form>
  </center>
</td>
