<td>
  <form ng-submit="login()">
    <table border="0">
      <tbody>
        <tr ng-show="error" class="text-danger">{{ error }}</tr>
        <tr>
          <td>email</td>
          <td>
            <input ng-model="user.email" type="email" name="t" value="" size="20" placeholder="" style="">
          </td>
        </tr>
        <tr>
          <td>password</td>
          <td>
            <input ng-model="user.password" type="password" name="u" value="" size="20">
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="login">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</td>
