<td ng-controller="NavCtrl" bgcolor="#ff6600">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 2px;">
    <tbody>
      <tr>
        <td style="width:18px;padding-right:4px">
          <a href="#/">
            <img src="images/y18.gif" width="18" height="18" style="border:1px #ffffff solid;">
          </a>
        </td>
        <td style="line-height:12pt; height:10px;">
          <span class="pagetop">
            <b>
              <a href="#/">Slacker News</a>
            </b>
            <img src="images/s.gif" height="1" width="10">
            <a class="nav popular" href="#/">popular</a> |
            <a class="nav newest" href="#newest">new</a> |
            <a class="nav comments" href="#comments">comments</a>
            <span ng-show="signedIn()">| <a class="nav submit" href="#/submit">submit</a></span>
          </span>
        </td>
        <td style="text-align:right;padding-right:4px;">
          <span class="pagetop">
            <span ng-hide="signedIn()"><a class="nav login" href="#/login">login</a> | </span>
            <a ng-hide="signedIn()" class="nav register" href="#/register">register</a>
            <span ng-show="signedIn()"><a ng-href="#/users/{{ user.uid }}" style="color: green; ">{{ profile.username }}</a> | </span>
            <a ng-show="signedIn()" ng-click="logout()" href="#">logout</a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</td>
