<td>
  <table border="0">
    <tbody>
      <tr>
        <td>
          <center>
            <a id="up_8920007" onclick="return vote(this)" href="vote?for=8920007&amp;dir=up&amp;by=tradecraft&amp;auth=ec7f6619603cfa2156208fd64838cb40dd3aa53c&amp;whence=%69%74%65%6d%3f%69%64%3d%38%39%32%30%30%30%37">
              <div class="votearrow" title="upvote"></div>
            </a><span id="down_8920007"></span>
          </center>
        </td>
        <td class="title"><span class="deadmark"></span>
          <a href="{{ post.url }}" rel="nofollow">{{ post.title }}</a>
          <span class="sitebit comhead"> ({{ post.url | hostnameFromUrl }})</span>
        </td>
      </tr>
      <tr>
        <td colspan="1"></td>
        <td class="subtext">
          <span class="score" id="score_8920007">{{ post.score }} points</span> by
          <a href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a> 41 minutes ago |
          <a href="#/posts/{{ post.$id }}">{{ post.nComments }} comments</a>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td></td>
        <td>
          <form ng-show="signedIn()" ng-submit="addComment()">
            <textarea ng-model="commentText" name="text" rows="6" cols="60" style="" placeholder=""></textarea>
            <br>
            <br>
            <span class="subtext">If you haven't already, would you mind reading about SN's
              <a href="#/welcome">
                <u>approach to comments</u>
              </a>?
            </span>
            <br>
            <br>
            <input type="submit" value="add comment">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <table border="0">
    <tbody ng-repeat="comment in comments">
      <tr>
        <td>
          <table border="0">
            <tbody>
              <tr>
                <td>
                  <img src="https://news.ycombinator.com/s.gif" height="1" width="0">
                </td>
                <td valign="top">
                  <center>
                    <a id="up_8920048" onclick="return vote(this)" href="vote?for=8920048&amp;dir=up&amp;by=tradecraft&amp;auth=1a00cdc3f15a311c27bb30773c74e78df5e2fdd1&amp;whence=%69%74%65%6d%3f%69%64%3d%38%39%32%30%30%30%37">
                      <div class="votearrow" title="upvote"></div>
                    </a>
                    <span id="down_8920048"></span>
                  </center>
                </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px; ">
                    <span class="comhead">
                      <a href="#/users/{{ post.creatorUID }}">{{ comment.creator }}</a> 33 minutes ago  |
                      <a href="">link</a>
                      <span ng-show="user.uid == post.creatorUID">
                        | <a ng-click="deleteComment(comment)" style="cursor: pointer;">delete</a>
                      </span>
                      <span class="deadmark"></span>
                    </span>
                  </div>
                  <br>
                  <span class="comment">{{ comment.text }}</span>
                  <p><font size="1"><u><a href="#">reply</a></u></font>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
</td>
