<td>
  <table border="0">
    <tbody>
      <tr>
        <td>
          <center>
            <a>
              <div class="votearrow" title="upvote"></div>
            </a>
          </center>
        </td>
        <td class="title"><span class="deadmark"></span>
          <a href="{{ post.url }}" rel="nofollow">{{ post.title }}</a>
          <span class="sitebit comhead"> ({{ post.url | hostnameFromUrl }})</span>
        </td>
      </tr>
      <tr>
        <td colspan="1"></td>
        <td class="subtext">
          <span class="score">{{ post.score }} points</span> by
          <a href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a> {{ post.createdAt | ago }} |
          <a href="#/posts/{{ post.$id }}">{{ post.nComments }} comments</a>
        </td>
      </tr>
      <tr style="height:10px"></tr>
      <tr>
        <td></td>
        <td>
          <form ng-show="signedIn()" ng-submit="addComment()">
            <textarea ng-model="commentText" name="text" rows="6" cols="60" style="" placeholder=""></textarea>
            <br>
            <br>
            <input type="submit" value="add comment">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <table border="0">
    <tbody ng-repeat="comment in comments | filter:global.search">
      <tr>
        <td>
          <table border="0">
            <tbody>
              <tr>
                <td>
                  <img src="images/s.gif" height="1" width="0">
                </td>
                <td valign="top">
                  <center>
                    <a>
                      <div class="votearrow" title="upvote"></div>
                    </a>
                    <span></span>
                  </center>
                </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px; ">
                    <span class="comhead">
                      <a href="#/users/{{ post.creatorUID }}">{{ comment.creator }}</a> {{ comment.createdAt | ago }}
                      <span ng-show="user.uid == comment.creatorUID">
                        | <a ng-click="deleteComment(comment)" style="cursor: pointer;">delete</a>
                      </span>
                      <span class="deadmark"></span>
                    </span>
                  </div>
                  <br>
                  <span class="comment">{{ comment.text }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
</td>
