<td>
  <form ng-submit="submitPost()">
    <table border="0">
      <tbody>
        <tr>
          <td>title</td>
          <td>
            <input ng-model="post.title" type="text" name="t" value="" size="50" placeholder="" style="">
          </td>
        </tr>
        <tr>
          <td>url</td>
          <td>
            <input ng-model="post.url" type="text" name="u" value="" size="50">
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="submit">
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </td>
